{% extends "base.html" %} {% block content %}

<div class="container my-5">
	<div class="row justify-content-center">
		<div class="col-6 text-white">
			{% for friend in friends %}
			<div class="col-6 text-white">
				<img src="{{friend.image_url}}" class="img-thumbnail mb-2" alt="" />
				<h3>{{friend.username}}</h3>
				<h5>Decks: {{friend.decks | length}}</h5>
				<a
					class="btn btn-sm btn-primary col my-1"
					href="/users/{{friend.username}}"
					>View Profile</a
				>
				<a
					class="btn btn-sm btn-primary col my-1"
					href="/users/{{friend.username}}/decks"
					>View Decks</a
				>
				<form action="/remove_friend/{{friend.username}}" method="POST">
					<button class="btn btn-sm btn-danger col my-1">Remove Friend</button>
				</form>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
