{% extends "base.html" %} {% block content %}
<div class="row" id="main-home">
	<div class="container-fluid col-2 bg-secondary py-3 px-0 mx-0" id="filter-panel">
		{# TYPE FORM #} {{type_form.hidden_tag()}}
		<div class="row justify-content-center">
			<div class="col">
				<button
					class="btn btn-sm btn-secondary col rounded-0"
					type="button"
					data-toggle="collapse"
					data-target="#type-form"
					aria-expanded="false"
					aria-controls="collapseExample"
				>
					Type <i class="fas fa-caret-down"></i>
				</button>

				<div class="collapse" id="type-form">
					<div class="card card-body bg-dark text-white rounded-0">
                        <div class="col px-2">
						{% for field in type_form if field.widget.input_type != 'hidden' %}
						{% if field.type == "RadioField" %} {{field(class_="text-small")}} {% else %}
						{{field(class_="form-control")}} {% endif %} {% for error in
						field.errors %}
						<span class="form-text text-danger">{{error}}</span>
						{% endfor %} {% endfor %}
					    </div>
					</div>
				</div>
			</div>
		</div>
		{# POWER FORM #} {{power_form.hidden_tag()}}
		<div class="row justify-content-center">
			<div class="col">
				<button
					class="btn btn-sm btn-secondary col-12 rounded-0"
					type="button"
					data-toggle="collapse"
					data-target="#power-form"
					aria-expanded="false"
					aria-controls="collapseExample"
				>
					Power <i class="fas fa-caret-down"></i>
				</button>

				<div class="collapse" id="power-form">
					<div class="card card-body bg-dark text-white col-12 rounded-0">
                        <div class="col px-2">
						{% for field in power_form if field.widget.input_type != 'hidden' %}
						{% if field.type == "RadioField" %} {{field}} {% else %}
						{{field(class_="form-control")}} {% endif %} {% for error in
						field.errors %}
						<span class="form-text text-danger">{{error}}</span>
						{% endfor %} {% endfor %}
					    </div>
					</div>
				</div>
			</div>
		</div>

			{# TOUGHNESS FORM #} {{toughness_form.hidden_tag()}}
		<div class="row justify-content-center">
            <div class="col">
				<button
					class="btn btn-sm btn-secondary col-12 rounded-0"
					type="button"
					data-toggle="collapse"
					data-target="#toughness-form"
					aria-expanded="false"
					aria-controls="collapseExample"
				>
					Toughness <i class="fas fa-caret-down"></i>
				</button>

				<div class="collapse" id="toughness-form">
					<div class="card card-body bg-dark text-white col-12 rounded-0">
                        <div class="col px-2">
						{% for field in toughness_form if field.widget.input_type !=
						'hidden' %} {% if field.type == "RadioField" %} {{field}} {% else %}
						{{field(class_="form-control")}} {% endif %} {% for error in
						field.errors %}
						<span class="form-text text-danger">{{error}}</span>
						{% endfor %} {% endfor %}
                        </div>
					</div>
				</div>
			</div>
        </div>
		<div class="row justify-content-center">
            <div class="col">
			    <button class="btn btn-primary btn-md col my-2">Filter</button>
            </div>
		</div>
		</div>

		<div class="container scroll" id="main">
			<div class="row">
				{% for card in cards %}
				<div class="col-4">
					{% if card.image_url != 'static/images/mtg_default.jpg' %} {% else %}
					{% endif %}
					<div class="card text-white bg-transparent my-4" style="width: 18rem">
						<img
							src="{{card.image_url}}"
							class="card-img-top mtg-card"
							alt="..."
						/>
						<button
							class="btn btn-secondary my-1"
							type="button"
							data-toggle="collapse"
							data-target="#info-{{card.id}}"
							aria-expanded="false"
							aria-controls="collapseExample"
						>
							Show Info
						</button>
						<div class="collapse" id="info-{{card.id}}">
							<div class="card-body">
								<h5 class="card-title">{{card.name}}</h5>
								{% for attr, value in card.__dict__.items() %} {% if attr !=
								'image_url' and attr != 'text' and attr != '_sa_instance_state'
								and value and value != '' %}
								<p><b>{{attr}}:</b> {{value}}</p>
								{% else %} {% endif %} {% endfor %}
							</div>
						</div>
						<a href="#" class="btn btn-primary">Add to Deck</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endblock %}
</div>
